---
interface Props {
    link: string;
}

const { link } = Astro.props;
---

<a href={link} rel="noopener noreferer" target="_blank">
    <slot name="image" />
    <slot />
</a>

<style>
    a {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        padding: 0.5rem;
        text-decoration: none;
        color: #010101;
        background-color: #0a69bf;
        border-radius: 0.5rem;
        font-weight: 700;
        transition: all ease 0.5s;
    }

    a:hover {
        color: #e6edf3;
    }
</style>
