---
interface Props {
    link: string;
}

const { link } = Astro.props;
---

<a href={link} rel="noopener noreferer" target="_blank">
    <slot name="image" />
    <slot />
</a>

<style>
    a {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        padding: 0.5rem;
        text-decoration: none;
        color: #010101;
        /* background-color: #0a69bf; */
        background: #1787E0;
        background: linear-gradient(180deg,rgba(23, 135, 224, 1) 0%, rgba(9, 83, 155, 1) 100%);
        border-radius: 0.5rem;
        font-weight: 700;
        transition: all ease 0.5s;
    }

    a:hover {
        color: #e6edf3;
    }
</style>
