---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Tarjeta de Presentación" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" href="/fonts/Sakana.ttf" as="font" type="font/ttf" crossorigin/>
		<link rel="preload" href="/fonts/Ubuntu-Regular.ttf" as="font" type="font/ttf" crossorigin/>
		<link rel="preload" href="/fonts/BitcountGridSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf" as="font" type="font/ttf" crossorigin/>
		<meta property="og:title" content="Tarjeta de presentación" />
		<meta
			property="og:description"
			content="Kristian Cifuentes Desarrollador y Programador Web. LinkedIn, GitHub, Portofolio"
		/>
		<!-- <meta property="og:image" content="https://i.postimg.cc/T2nB1h7P/portada-portfolio.jpg"> -->
		<meta property="og:image" content="https://iili.io/dAOkHVp.jpg" />
		<meta property="og:url" content="https://kristianc8.github.io/" />
		<meta property="og:type" content="website" />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
	}
	
	html {
		font-family: "Ubuntu", system-ui, sans-serif;
		/* background: #2a2a2a;*/
		/* background-size: 224px; */
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		min-width: 320px;
		min-height: 35rem;
		height: 100dvh;
		/* background-color: #1f1f1f; */
		/* background-color: #010409; */
		background-image: linear-gradient(418deg, rgba(15, 15, 15,0.04) 0%, rgba(15, 15, 15,0.04) 35%,rgba(113, 113, 113,0.04) 35%, rgba(113, 113, 113,0.04) 42%,rgba(210, 210, 210,0.04) 42%, rgba(210, 210, 210,0.04) 100%),linear-gradient(340deg, rgba(15, 15, 15,0.04) 0%, rgba(15, 15, 15,0.04) 25%,rgba(113, 113, 113,0.04) 25%, rgba(113, 113, 113,0.04) 30%,rgba(210, 210, 210,0.04) 30%, rgba(210, 210, 210,0.04) 100%),linear-gradient(335deg, rgba(15, 15, 15,0.04) 0%, rgba(15, 15, 15,0.04) 13%,rgba(113, 113, 113,0.04) 13%, rgba(113, 113, 113,0.04) 27%,rgba(210, 210, 210,0.04) 27%, rgba(210, 210, 210,0.04) 100%),linear-gradient(360deg, rgb(1,4,9),rgb(1,4,9));
	}

	main {
		display: grid;
		height: 100%;
		place-items: center;
		overflow: hidden;
	}
	@font-face {
		font-family: "Ubuntu";
		src: url("/fonts/Ubuntu-Regular.ttf");
		/* font-weight: 400; */
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: "Bitcount";
		src: url("/fonts/BitcountGridSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf") format("truetype");
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Sakana";
		src: url("/fonts/Sakana.ttf");
		/* font-weight: 400; */
		font-style: normal;
		font-display: swap;
	}
</style>
